extends ../base.pug

block head

block main
    .contactMe
        h2 Связаться со мной
        p Если вы хотите задать вопрос или заказать фотосессию, вы можете связаться со мной с помощью этой формы или месседжеров.
    
    
    form.contact_form(action="SendMessageTelegram.php" method="post" onsubmit="return checkLastSend();")
        div
            .infoFields
                .name
                    label Ваше имя
                        input#firstname__field(type="text" name="name" required)

                .type_PhotoShoot
                    label Какой вид фотосессии вы хотите?
                        select(name="type")
                            -var type_list = ["Свадебные", "Портретные", "Студийные", "История любви", "Прогулочные", "Будуарные", "Черно-Белые", "Творческие", "Репортажные", "Пейзажные", "Вечеринки", "Эксперементы"]
                            each type in type_list
                                option(value= type)= type
                       
                .time       
                    label Время фотосессии
                        input(type="number" name="time" min="1" max="12" value="1")
                .money
                    label(for="money__per_hour") Стоимость одного часа
                    div 
                        div     
                            label           
                                input#money_per_hour(type="number",name="money_per_hour", value="500", min="500", max="100000")
                                | Грн/Час
                        div
                            label
                                input#fullMoney(type="number", value="400", name="fullMoney", disabled)
                                | Итоговая сумма
                //- div
                //-     label(for="datetimeField" value="" placeholder="" disabled) Выберите удобные для вас дату и время: 
                //-     input#datetimeField(type="date")
                .phone
                    label(for="phone") Ваш телефон
                        .phone__field
                            div
                                span +38
                            input#phone(type="tel" name="phone" maxlength="10" pattern="[0-9]{10}" required) 
            .message
                .social
                    .icons
                        a(href="https://www.facebook.com/anton.tatochenko")
                            label.icon.facebook 
                        a(href="https://t.me/anton_photography")
                            label.icon.telegram
                        a(href="https://instagram.com/anton_photographer_?igshid=540gzsq9m1j2")
                            label.icon.instagram
                .messageField
                    label Сообщение: 
                        textarea(height="100%" name="text")

        input(type="submit" class="sendForm button" value = "Отправить")

    
    .SendFormMessage(style="display: none;") Форма успешно отправлена!
    .SendFormMessage(style="display: none;") Произошла ошибка при отправке формы. Попробуйте ещё раз, либо свяжитесь со мной с помощью мессенджера.
    
    script(src="https://npmcdn.com/js-alert/dist/jsalert.min.js")
    script. 
        function checkLastSend(){
            
            let now = new Date();
            let lastSendForm = localStorage['lastSendForm'];

            now = {
                day: now.getDate(),
                month: now.getMonth() + 1,
                hour: now.getHours(),
                min: now.getMinutes()
            };
            
            lastDate = {
                day: +lastSendForm.slice(0,2),
                month: +lastSendForm.slice(3,5),
                hour: +lastSendForm.slice(7,9),
                min: +lastSendForm.slice(10,13)
            };

            if ((lastDate.hour - now.hour) == 0){
                if ((lastDate.min - now.min) < 5){
                    var alert = new JSAlert("Вы недавно уже отправяли заявку("+lastSendForm.slice(7,13)+")", "Ой..");
                    alert.addButton("Главная").then(function() {
                        document.location.href = "http://anton-ph.com/";
                    });
                    alert.addButton("Портфолио").then(function() {
                        document.location.href = "http://anton-ph.com/portfolio";
                    });
                    alert.addButton("Остаться").then(function() {
                    });
                    alert.show();
                    return false;
                }
                else{
                    function saveFields(){
                        localStorage['name'] = $("#firstname__field").val();
                        localStorage['type'] = document.getElementsByTagName("select")[0].selectedIndex;
                        localStorage['time'] = document.getElementsByClassName("time")[0].getElementsByTagName("input")[0].value;
                        localStorage['money_per_hour'] = $("#money_per_hour").val();
                        localStorage['fullMoney'] = $("#fullMoney").val();
                        localStorage['phone'] = $("#phone").val();
                        localStorage['message'] = document.getElementsByTagName("textarea")[0].value;
                    }
                    saveFields();
                    return true;
                }
            }
            else{
                saveFields();
                return true;
            }
        }