extends ../base.pug

block main
    div(class="slider")
        img(src="./src/img/1.jpg", class="slide showing", alt="")
        img(src="./src/img/2.jpg", class="slide", alt="")
        img(src="./src/img/3.jpg", class="slide", alt="")
        img(src="./src/img/4.jpg", class="slide", alt="")
    
block footer
    //- h1 Home page