@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');

.gallery {
    position: relative;
    height: calc(100vh - 40px);

}

%transition_all_03s {
    transition: all .3s ease;
}

%backface_visibility_hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
    // box-sizing: content-box;
    margin: 0;
    // padding: 0;
}

.swiper-container {
    width: 100%;
    height: calc(100vh - 40px);
    // display:inline-block;
    // vertical-align:top;
    float: left;
    transition: opacity .6s ease, transform .3s ease;

    &.nav-slider {
        width: 20%;
        padding-left: 5px;

        .swiper-slide {
            cursor: pointer;
            opacity: .4;
            transition: opacity .3s ease;

            &.swiper-slide-active {
                opacity: 1;
            }

            .content {
                width: 100%;

                .title {
                    font-size: 20px;
                }
            }
        }
    }

    &:hover {

        .swiper-button-prev,
        .swiper-button-next {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &.loading {
        opacity: 0;
        visibility: hidden;
    }
}

.swiper-slide {
    overflow: hidden;
    @extend %backface_visibility_hidden;

    .slide-bgimg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .entity-img {
        display: none;
    }

    .content {
        position: absolute;
        top: 40%;
        left: 0;
        width: 50%;
        padding-left: 5%;
        color: #fff;

        .title {
            font-size: 2.6em;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .caption {
            display: block;
            font-size: 13px;
            line-height: 1.4;
            transform: translateX(50px);
            opacity: 0;
            transition: opacity .3s ease, transform .7s ease;

            &.show {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
    @extend %transition_all_03s;
}

.swiper-button-prev {
    transform: translateX(50px);
}

.swiper-button-next {
    transform: translateX(-50px);
}




/*

*/
body {
    background-color: rgb(238, 235, 235);
}

/*

*/

.startWindow {
    .welcome_mobile {
        width: 340px;
        height: 50px;
        background: #000000d6;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        margin: auto;
        // margin-bottom: calc(41px + 50vh - 170px);
        display: none;
        flex-direction: row;
        color: rgb(255, 255, 255);

        .category,
        .lastest {
            justify-content: center;
            width: 50%;
            margin: auto;
            text-align: center;
            height: 100%;
            display: flex;
            text-decoration: none;
            cursor: pointer;


            >span {
                
                margin: auto;
                color: rgb(255, 255, 255);
            }
        }

        .category {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            &:hover {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                background: #203022;
                color: #c2c2c2;
            }
        }

        .lastest {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            &:hover {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                color: #c2c2c2;
                background: #28283f;
            }
        }
        .lastest {
            border-left: solid #3C3E51 1px;
        }
    }

    position: relative;
    width: 100%;
    min-height: 100vh !important;
    max-height: calc(0.8 * 100vw/1.7);
    background: linear-gradient(#000000d5 0, #00000010 90px, #ffffff00 120px),
    url(/img/home/5.jpg) left top !important;
    background-size: cover !important;
}

.startWindow .welcome,
.caption {
    padding: 8px;
    color: #464646;
    font-family: cursive;
    text-align: center;
    line-height: 40px;
    width: 30%;
    font-size: 24px;
    position: absolute;
    right: 13%;
    top: 25%;
    background-color: #cdd0ca2d;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 2px;
    font-weight: 400;

    a,
    a:visited {
        position: relative;
        display: inline-block;
        padding: 0 4px;
        color: #464646;
        text-decoration: none;
    }
}

.goBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    mix-blend-mode: normal;
    z-index: 3;
    background: rgba(112, 112, 112, 0.34);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;

    img {
        filter: invert(0.2);
        cursor: pointer;
        margin: auto;
        margin-bottom: 2px;
        width: 50px;
        height: 35px;
    }

}

.photoShoot__types {
    button{
        display: none;
    }
    text-align: center;
    justify-content: space-between;
    width: 76vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 0 12vw 4% 12vw !important;

    h2 {
        font-family: cursive;
        font-weight: 600;
        color: #3f3d3d;
        width: 100%;
        text-align: center;
        padding: 6% 0 4% 0;
    }

    .photoShoot__type {
        padding: 0 1.86vw 0 0;

        img {
            margin: 0;
            width: calc(17.6vw);
            height: calc(17.6vw / 1.5);
        }

        &:nth-child(4n+1) {
            padding-right: 0;
        }

        p {
            width: 17.6vw;
            height: 50px;
            display: flex;
            flex-direction: column;

            span {
                margin: auto;
                font-size: 18px;
                font-weight: 300;
                color: rgb(85, 85, 85);
                letter-spacing: 0.09em;
            }
        }
    }
}

.lastest_photoShoots {
    width: 76vw;
    padding-top: 100px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: max-content;
    margin: 0 12vw 2% 12vw !important;

    .photoShoot__type {
        padding: 1.2vw 1.2vw 0 0;

        img {
            width: 23.106976vw;
            height: calc(23.333vw / 1.5);

        }

        &:nth-child(6n+1),
        &:nth-child(8n+6),
        &:nth-child(6n+11) {
            img {
                width: 27.38604vw !important;
                height: calc(23.333vw / 1.5);
            }
        }

        &:nth-child(14n+13),
        &:nth-child(5n+14) {
            img {
                margin: 0;
                width: 37.4vw !important;
                height: calc(37.4vw / 1.76);
            }
        }

        &:nth-child(5n+14),
        &:nth-child(3n+3) {
            padding-right: 0;
        }
    }
}
    button {
        margin: 3% auto 1% auto !important;
        border: none;
        border-radius: 3px;
        padding: 8px 0;
        font-size: 1em;
        outline: none;
        display: block;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        background-color: #020122;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        min-width: 200px;
        text-align: center;
        cursor: pointer;
        user-select: none;

        a,
        a:visited {
            color: white;
            text-decoration: none;
            outline: none;
        }
    }


:root {
    --positionX: 1.1;
    --positionY: 1;
    --responsiveCoefficient: 0;
}

.parallax-container {
    height: 70vh;
    min-height: 400px;
    position: relative;
    color: #253036;

    .caption {
        line-height: normal;
        backdrop-filter: blur(300px);
        cursor: pointer;
        background-color: #ffffff82;
        color: rgb(53, 57, 61);
        border-radius: 2px;
        font-weight: 400;
        top: 34%;
    }

    &:nth-child(20n+3) .caption {
        left: 9%;
        background-color: #ffffffa1;

    }
}


[anim="ripple"] {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        display: block;
        background: white;
        border-radius: 50%;
        pointer-events: none;
        top: calc(var(--y) * 1px);
        left: calc(var(--x) * 1px);
        width: calc(var(--d) * 1px);
        height: calc(var(--d) * 1px);
        opacity: calc(var(--o, 1) * 0.3);
        transition: calc(var(--t, 0) * 600ms) linear;
        transform: translate(-50%, -50%) scale(var(--s, 1));
        transform-origin: center;
    }
}

@media screen and (max-width: 2500px) {
    .startWindow {
        .welcome {
            padding: 25px;
            font-size: 2rem;
        }
    }

    .photoShoot__types {
        font-size: 1.5rem;

        .photoShoot__type p span {
            font-size: 1.6rem;
        }
    }

    .parallax-container {
        .caption {
            padding: 25px;
            font-size: 3rem;
        }
    }

    button a {
        font-size: 1.5rem;
        padding: 25px;
    }

    @media (max-width: 2000px) {
        .startWindow {
            background-position-x: -300px !important;
        }

        @media (max-height: 1300px) {
            .startWindow {
                background-position-x: 0px !important;
            }
        }
        .startWindow .welcome {
            font-size: 1.5rem;
        }
        .photoShoot__types {
            font-size: 1.3rem;
        }
        .parallax-container {
            .caption {
                padding: 18px;
                font-size: 2.2rem;
            }
        }
    }

    @media (max-width: 1650px) {
        .startWindow {
            .welcome {
                right: 8%;
                font-size: 1.5rem;
            }
        }
        .photoShoot__types .photoShoot__type p span {
            font-size: 1.6rem;
        }
    }


    @media (max-width: 1400px) {
        .startWindow {
            background-position-x: -300px !important;
        }
        @media (max-height: 960px) {
            .startWindow {
                background-position-x: 0px !important;
            }
        }
    }

    @media (max-width: 1215px) {
        .photoShoot__types {
            font-size: 1rem;
            .photoShoot__type p span {
                font-size: 1.2rem;
            }
        }
    }

    @media (max-width: 950px) {
        .startWindow .welcome {
            top: calc(100vh - 41px - 295px - 80px) !important;
        }
        .photoShoot__types {
            .photoShoot__type,
            .photoShoot__type:nth-child(4n+1) {
                padding: 0 2vw 0 0 !important;

                h2 {
                    margin: 30px 0 !important;
                }

                img {
                    width: calc(24vw);
                    height: calc(24vw / 1.5);
                }

                &:nth-child(3n+1) {
                    padding-right: 0 !important;
                }

                p {
                    width: 24vw;
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
        // width = FullWidth/
        .lastest_photoShoots {
            .photoShoot__type {
                padding: 2vw 2vw 0 0;
        
                img {
                    
                    width: 33.8644vw;
                    height: calc(33.8644vw / 1.5);
        
                }
        
                &:nth-child(8n+1),
                &:nth-child(8n+3),
                &:nth-child(8n+6),
                &:nth-child(8n+7),
                &:nth-child(8n+11) {
                    img {
                        width: 40.13559vw !important;
                        height: calc(33.8644vw / 1.5);
                    }
                }
        
                &:nth-child(14n+13),
                &:nth-child(5n+14) {
                    img {
                        margin: 0;
                        width: 37vw !important;
                        height: calc(37vw / 1.76);
                    }
                }
                &:nth-child(5n+14),
                &:nth-child(2n+2) {
                    padding-right: 0 !important;
                }
                
                &:nth-child(3n+3) {
                    padding-right: 2vw;
                }
            }
        }
        .parallax-container {
            .caption {
                padding: 18px;
                font-size: 1.8rem;
            }
        }
        @media (max-height: 900px){

            .startWindow {
                background-image: url(/img/home/3.jpg) !important;

                .welcome {
                    top: calc(100vh - 41px - 295px - 20px) !important;
                    width: 400px;
                    right: calc(50% - 225px);
                    padding: 25px;
                    font-size: 1.2rem;
                    color: #ffffff;
                    background-color: #a5cbcc1f;
                    backdrop-filter: blur(22px);
                    border-radius: 12px;
                    font-weight: 700;
                    line-height: 35px;
                }
            }
        }

        @media (max-height: 450px), (max-width: 500px) {
            .startWindow {
                display: flex;
                background-image: url(/img/home/3.jpg) !important;

                .welcome {
                    display: none !important;
                }

                .welcome_mobile {
                    display: flex;
                }
            }
            button a {
                font-size: 1.1rem;
                padding: 10px;
            }
        }
    }
    @media (max-height: 815px) {
        .parallax-container {
            .caption {
                padding: 18px;
                font-size: 1.4rem !important;
            }
        }
        button a {
            font-size: 1.1rem;
            padding: 10px;
        }


    }
    @media (max-width: 650px) {
        .photoShoot__types button{
            display: flex;
        }
          .photoShoot__types {
            .photoShoot__type:nth-child(4n+1) img{
                img {
                    width: calc(37vw) !important;
                    height: calc(37vw / 1.5) !important;
                }
            }
            .photoShoot__type, .photoShoot__type:nth-child(3n+1){
                padding: 0 2vw 0 0 !important;

                h2 {
                    margin: 30px 0 !important;
                }

                img {
                    width: calc(37vw) !important;
                    height: calc(37vw / 1.5) !important;
                }

                &:nth-child(2n+1) {
                    padding-right: 0 !important;
                }

                p {
                    width: 37vw !important;
                    height: 50px;
                }
                &:nth-child(n+10) {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 550px) {

        .parallax-container {
            &:nth-child(20n+3) .caption{
                top: 3% !important; 
            }
            .caption {
                width: max-content;
                white-space: nowrap;
                padding: 18px;
                font-size: 1.4rem !important;

            }
        }
        .photoShoot__types {

          .photoShoot__type, .photoShoot__type:nth-child(3n+1){
              padding: 2vw 0 0 0 !important;
              img {
                  width: calc(76vw) !important;
                  height: calc(76vw / 1.5) !important;
              }

              &:nth-child(2n+1) {
                  padding-right: 0 !important;
              }
              &:nth-child(n+7) {
                display: none;
            }

              p {
                  width: 76vw !important;
                  height: 50px;
              }
          }
      }
      .lastest_photoShoots {
          .photoShoot__type {
            padding: 2vw 0 0 0;
              img {
                  width: 76vw;
                  height: calc(76vw / 1.5);
      
              }
      
              &:nth-child(8n+1),
              &:nth-child(8n+3),
              &:nth-child(8n+6),
              &:nth-child(8n+7),
              &:nth-child(8n+11),
              &:nth-child(14n+13),
              &:nth-child(5n+14) {
                  img {
                      width: 76vw !important;
                      height: calc(76vw / 1.76);
                  }
              }
      
              &:nth-child(n+7){
                display: none !important;
              }
          }
      }
  }
  @media (min-height: 400px){
    .lastest_photoShoots {
        background-position-x: -300px;
    }
}
}