<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Anton Tatochenko
        link(rel="shortcut icon" href="/img/favicon.ico" type="image/png")
        //- <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous">
        //- </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        script(src="base.js")
        style.
            header{position:absolute;left:0;top:0;width:100%;height:60px;z-index:2;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.footer{position:relative;width:100%;height:180px;background:#232c2f;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;text-align:center}.fixedBottom{position:fixed;bottom:0;left:0;width:100%;height:120px}

        block head
            
    body
        header#startWindow
            .logo
                label
                    a(href="https://anton-ph.com/") Anton Tatochenko
            .menu#main-nav

                ul
                    li 
                        a(href="https://anton-ph.com/")  Home
                    li
                        a(href="portfolio") Portfolio
                    li 
                        a(href="contact") Contact  
                

        main
            block main

        footer
            .footer
                .name
                    label Anton Tatochenko
                
                div.contact
                    .social
                        a(href="https://www.facebook.com/anton.tatochenko")
                            label.icon.facebook 
                        a(href="https://t.me/anton_photography")
                            label.icon.telegram
                        a(href="https://instagram.com/anton_photographer_?igshid=540gzsq9m1j2")
                            label.icon.instagram

                .links
                    a(href="https://anton-ph.com/") <label> Home </label>
                    label(onclick="scrollToObject(startWindow)") Top
          
        script.
            function scrollToObject(object){
                let scrollValue = object.offsetTop - window.pageYOffset;
                window.scrollBy({top: scrollValue, behavior: 'smooth'});
            }

