extends ../base.pug
block head
    style.
        .gallery{height:calc(100vh - 120px - 50px)}.gallery .swiper-container{width:80%;height:calc(100vh - 120px - 50px)}.list{-webkit-transition:1s;-o-transition:1s;transition:1s;height:auto;right:0;position:fixed;padding:8px;width:183px;border-bottom-left-radius:20px;border-top-left-radius:20px;min-width:160px;top:calc(100vh - 75% - 50px);border-left:1px solid #ccc;background-color:#293441;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.list ul{font-weight:400;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;font-family:sans-serif;text-align:right;color:#fff;font-size:16px}.list ul li{cursor:pointer;text-align:right;padding:4px 8px;list-style:none;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;margin:4px 0}.list ul li:first-child{font-weight:700;text-align:center;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-item-align:center!important;align-self:center!important;text-transform:uppercase;font-size:14px;border-bottom:2px solid #ccc;padding:4px 12px!important}.list ul li:last-child{cursor:pointer;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;display:-webkit-box;display:-ms-flexbox;display:flex;border-bottom-left-radius:20px;position:relative;bottom:-12px;right:-8px;padding:8px;padding-left:4px;padding-right:10px;width:100%;background-color:#1d252e}header{position:fixed!important;top:0;height:50px!important;background-color:#132536;width:100%!important;color:#fff}header .logo{padding:0 0 4px 50px !important}header .menu{-webkit-box-align:center!important;-ms-flex-align:center!important;align-items:center!important;padding:0 60px!important}header .menu ul{padding:0!important}header .hc-nav-trigger{top:13px!important;right:2%!important}header .hc-nav-trigger span,header .hc-nav-trigger span:before,header .hc-nav-trigger span:after{background:#fff!important}


block main
    - var type_list = ["Свадебные", "Портретные", "Студийные", "История любви", "Прогулочные", "Будуарные", "Черно-Белые", "Творческие", "Репортажные", "Пейзажные", "Вечеринки", "Эксперементы"]
    - var id_list = ["wedding", "portrait", "studio", "loveStorie", "walking", "boudoir","black_and_white", "creative", "reporting", "landscape", "parties", "experiments"]
    .content    
        .filter.hide
            .filter__show
                span.arrow
            .list
                ul 
                    li Виды фотосессий
                    li Выбрать все 
                        input(type="checkbox" id="all_types" checked="checked" disabled)
                        label(for="all_types")
                        - for (var i = 0; i < 12; i++)
                            li= type_list[i]
                                input(type="checkbox" id=id_list[i] checked="checked" disabled)
                                label(for= id_list[i])
                    li 
                        span.filter__back Свернуть

        .allCategories
            mixin categorie(name, id)
                - for (var k = 0; k < 1; k++)
                    .categori(class= id[k])
                        h2= name[k]
                        - for (let l = 1; l < 7; l++)
                            img(src= "/img/types/"+ id[k] + "/" + l +".jpg" alt= id[k])
                - for (var i = 1; i < 12; i++)
                    .categori(class= id[i])
                        h2= name[i]
                        - for (let j = 1; j < 7; j++)
                            img.lazy(data-src= "/img/types/"+ id[i] + "/" + j +".jpg" alt= id[i])


            +categorie(type_list, id_list) 


            //- +categories([["/img/1.jpg", "Свадебная фотосессия", "weeding"], 
            //- ["/img/2.jpg", "Прогулочная", "walking"], 
            //- ["/img/3.jpg", "Природа", "nature"], ["/img/4.jpg", "Другое", "other"]])
